body {
	color: #555555;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 30px;
}

a {
	color: #00B7FF;
}

.container {
	padding: 20px;
	background-color: #efefef;
	width: 400px;
	border-radius: 6px;
	h3 {
		a {
			text-decoration: none;
			padding: 10px 20px;
			background-color: #00AE4D;
			border-radius: 6px;
			color: #FFFFFF;
			&:hover {
				background-color: #78F5AE;
				color: #999999;
			}
		}
	}
	table {
		tr {
			td {
				button {
					&:hover {
						background-color: #78F5AE;
						color: #999999;
					}
					border: solid 1px #AABF5C;
					background-color: #00AE4D;
					border-radius: 6px;
					text-transform: uppercase;
					color: #FFFFFF;
					margin: 10px 0;
					padding: 10px 20px;
				}
				padding: 5px;
				input {
					border: solid 1px #dddddd;
					padding: 5px 10px;
					border-radius: 6px;
					width: 100%;
					color: #777777;
				}
				textarea {
					border: solid 1px #dddddd;
					padding: 5px 10px;
					border-radius: 6px;
					width: 100%;
					color: #777777;
				}
			}
		}
		width: 360px;
	}
	form {
		button {
			border: solid 1px #CB2027;
			background-color: #DD4B39;
			border-radius: 6px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 10px 0;
			padding: 10px 20px;
		}
	}
	.list-table {
		width: 360px;
		border: solid 2px #DDDDDD;
		border-spacing: 0;
		th {
			border-bottom: solid 2px #DDDDDD;
		}
	}
}
