$black: #100;
$white: #fff;

//body
$background: #fffafa;

//links

$link: #ffa807;


//container
$containerbackground: #efefef;

//button

$backgroundbutton: #00aeff;
$bgbuttonhover: #067db4;
